@media (max-width: 768px) {
  .vp-doc h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .vp-doc h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .vp-doc h3 {
    font-size: 18px;
    line-height: 26px;
  }

  .vp-doc p,
  .vp-doc li {
    font-size: 15px;
    line-height: 26px;
  }
}
